[Desktop Entry]
Name=ODBC Data Manager
Exec=ODBCDataManagerQ4
Icon=unixODBC
Type=Application
Terminal=false
Categories=Qt;System;
# vi: encoding=utf-8
